.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


input{
  width: 350px;
  padding: 10px;
  border-radius: 15px;
  /* border: none; */
  font-size: 20px;
}

.btn-add{
  padding: 12px;
  border-radius: 15px;
  font-size: 15px;
  margin-left: 20px;
}
.allTodo{
  list-style: none;
  margin: 0;
  padding: 0;
}

.singleTodo{
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}

.todo-text{
  flex: 1;
  text-align: start;
}

.btn-del{
  border-radius: 25px;
  padding: 10px;
  border: 1px solid white;
  color: #fff;
  background-color: orangered;
}